#heightInput {
  margin: 15px;
}
h1 {
  background-color: #ecebeb;
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  padding-top: 5px;
  color: #00008f;
  height: 50px;
}

h6 {
  background-color: #64c5da;
  color: #ffffff;
  font-size: 20px;
}
p-dialog-titlebar {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #00008f;
}

#label {
  margin: 5px;
  width: auto;
  color: #868686;
}
#title {
  background-color: #f8f9fa;
}
#contenedorPrincipal {
  background-color: #f9f9f9;
}
#contenedorHeader {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(180, 180, 180);
  height: min-content;
  margin-bottom: 30px;
}
#contenedorTabla {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(180, 180, 180);
}

#inputControl {
  padding: 10px;
}

.input-group {
  height: 40px;
  width: auto;
}
.btn-success {
  background-color: #28a745;
}
.btn-info {
  background-color: #64c5da;
  color: #ffffff;
}
.btn-primary {
  background-color: #1762A5;
  color: #ffffff;
}
.colorButton {
  background-color: #00008f;
  color: #ffffff;
}
#prueba {
  background-color: #4fb3db;
}
#prue {
  background-color: #4fdb66;
}

.styleChart{
  width: 100%;
}


/* *****************ListBox***************** */
.upload-box {
  font-size: 16px;
  background: rgb(248, 248, 248);
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  outline: none;
  width: 100%;
}
::-webkit-file-upload-button {
  color: white;
  background: #64c5da;
  padding: 7px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 0 1px 1px #4fb3db;
  outline: none;

}
::-webkit-file-upload-button:hover {
  background: #98d9e7;
}
:host ::ng-deep .p-organizationchart .p-person {
  padding: 0;
  border: 0 none;
}
:host ::ng-deep .p-organizationchart .node-header,
:host ::ng-deep .p-organizationchart .node-content {
  padding: 0.5em 0.7rem;
}
:host ::ng-deep .p-organizationchart .node-header {
  background-color: #495ebb;
  color: #fff;
}
:host ::ng-deep .p-organizationchart .node-content {
  text-align: center;
  border: 1px solid #495ebb;
}

:host ::ng-deep .p-organizationchart-lines{
  background-color: #a72828;
  width: 1px;
  height: 100%;
  
}

/************* multiselect***************/
:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 100%;
}
:host ::ng-deep .multiselect-custom .p-multiselect-label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
:host ::ng-deep .multiselect-custom .p-multiselect-trigger {
  background-color: var(--primary-color);
  color: #ffffff;
}
:host ::ng-deep .multiselect-custom .country-item-value {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-flex;
  margin-right: 0.5rem;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

:host ::ng-deep .multiselect-custom .country-placeholder {
  padding: 0.25rem;
}
@media screen and (max-width: 100%) {
  :host ::ng-deep .p-multiselect {
    width: 100%;
 }
}

/* *******************Toltip****************** */

:host ::ng-deep .p-tooltip .p-tooltip-text {
  width: 350px !important;
}








