<div id="contenedorPrincipal">
  <p-toast [style]="{ marginTop: '80px' }"></p-toast>
  <p-tabView [style]="{ width: '100%' }" (onChange)="selectTabView($event)">
    <p-card [style]="{ height: '250px' }">
      <div class="formgrid grid p-3">
        <div class="field grid col-6">
          <label for="firstname4" class="col-12 md:col-4 md:mb-0"
            >Assessment Period:</label
          >
          <div class="col-12 md:col-8">
            <span class="p-fluid">
              <p-multiSelect
                [options]="period"
                [(ngModel)]="selectPeriod"
                selectionLimit="1"
                optionValue="id"
                class="multiselect-custom"
                defaultLabel="s"
                (onChange)="changePeriodOptions($event)"
              >
                <ng-template let-selectPeriod pTemplate="selectedItems">
                  <div *ngFor="let option of period">
                    <div *ngFor="let item of selectPeriod">
                      <div
                        *ngIf="option.id === item"
                        class="country-item country-item-value"
                      >
                        {{ option.name }}
                      </div>
                    </div>
                  </div>

                  <div
                    *ngIf="!selectPeriod || selectPeriod.length === 0"
                    class="country-placeholder"
                  >
                    Select Period
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </span>
          </div>
        </div>
        <div class="field grid col-6">
          <label for="firstname4" class="col-12 mb-4 md:col-4 md:mb-0"
            >Gross vs. net of insurance</label
          >
          <div class="col-12 md:col-8">
            <span class="p-fluid">
              <p-multiSelect
                selectionLimit="1"
                [options]="mode"
                [(ngModel)]="selectMode"
                defaultLabel="Select a mode"
                class="multiselect-custom"
              >
                <ng-template let-value pTemplate="selectedItems">
                  <div
                    class="country-item country-item-value"
                    *ngFor="let option of selectMode"
                  >
                    <div>{{ option }}</div>
                  </div>
                  <div
                    *ngIf="!selectMode || selectMode.length === 0"
                    class="country-placeholder"
                  >
                    Select Gross vs. net of insurance:
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{ country }}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </span>
          </div>
        </div>

        <ng-container *ngIf="showIndex === 0">
          <div class="field grid col-6">
            <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0"
              >Cause type:
            </label>
            <div class="col-12 md:col-8">
              <span class="p-fluid">
                <p-multiSelect
                  [options]="countries"
                  [(ngModel)]="selectedCountries1"
                  defaultLabel="Select a Country"
                  optionLabel="name"
                  class="multiselect-custom"
                >
                  <ng-template let-value pTemplate="selectedItems">
                    <div
                      class="country-item country-item-value"
                      *ngFor="let option of selectedCountries1"
                    >
                      <div>{{ option.name }}</div>
                    </div>
                    <div
                      *ngIf="
                        !selectedCountries1 || selectedCountries1.length === 0
                      "
                      class="country-placeholder"
                    >
                      Select Countries
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <div>{{ country.name }}</div>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </span>
            </div>
          </div>
          <div class="field grid col-6">
            <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0">
              Scenario type:</label
            >
            <div class="col-12 md:col-8">
              <span class="p-fluid">
                <p-multiSelect
                  [options]="type"
                  [(ngModel)]="selectType"
                  defaultLabel="Select a Scenario type"
                  class="multiselect-custom"
                >
                  <ng-template let-value pTemplate="selectedItems">
                    <div
                      class="country-item country-item-value"
                      *ngFor="let option of selectType"
                    >
                      <div>{{ option }}</div>
                    </div>
                    <div
                      *ngIf="!selectType || selectType.length === 0"
                      class="country-placeholder"
                    >
                      Select Scenario type:
                    </div>
                  </ng-template>
                  <ng-template let-country pTemplate="item">
                    <div class="country-item">
                      <div>{{ country }}</div>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </span>
            </div>
          </div>
          <div class="field grid col-6">
            <label for="firstname4" class="col-12 mb-2 md:col-4 md:mb-0"
              >Scenario label:</label
            >
            <div class="col-12 md:col-8">
              <input
                id="tex"
                type="text"
                pInputText
                required
                autofocus
                placeholder="Enter a name"
                class="inputfield w-full"
              />
            </div>
          </div>
          <div class="field grid col-6">
            <label for="firstname4" class="col-12 mb-2 md:col-2 md:mb-0"
              >All conditions:</label
            >
            <div class="col-12 md:col-10">
              <p-checkbox binary="true" inputId="binary"></p-checkbox>
            </div>
          </div>
        </ng-container>
      </div>
    </p-card>

    <p-tabPanel [headerStyle]="{ width: '50%' }">
      <ng-template pTemplate="header" class="fixed">
        <h2 class="flex-1 flex align-items-center justify-content-center">
          Filter
        </h2>
      </ng-template>

      <div id="contenedorHeader" class="text-blue-700 font-bold shadow-1">
        <div class="formgrid grid px-3">
          <div class="field col-12">
            <div class="flex flex-row-reverse flex-wrap">
              <div class="m-3">
                <button pRipple class="btn btn-sm btn-primary" (click)="show()">
                  Simulations
                </button>
              </div>
              <div class="m-3">
                <button pRipple class="btn btn-sm btn-primary">Search</button>
              </div>
            </div>
          </div>

          <div class="field col-12 md:col-3 p-3">
            <label for="firstname6">Organizational entity</label>
            <p-listbox
              [options]="entities"
              [metaKeySelection]="false"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              optionLabel="name"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%', height: '310px' }"
              [(ngModel)]="change"
              (onChange)="changee($event)"
            >
              <ng-template let-entities pTemplate="item">
                <div class="entities-item">
                  <div>{{ entities.name }}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
          <div class="field col-12 md:col-3 p-3">
            <label for="firstname6">Operational risk category</label>

            <p-listbox
              [options]="ops"
              [metaKeySelection]="false"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              optionLabel="ops"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%', height: '310px' }"
            >
              <ng-template let-ops pTemplate="item">
                <div class="ops-item">
                  <div>{{ ops }}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
          <div class="field col-12 md:col-3 p-3">
            <label for="firstname6">Business Line</label>
            <p-listbox
              [options]="bls"
              [metaKeySelection]="false"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              optionLabel="name"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%', height: '310px' }"
            >
              <ng-template let-bls pTemplate="item">
                <div class="bls-item">
                  <div>{{ bls.name }}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
          <div class="field col-12 md:col-3 p-3">
            <label for="lastname6">Legal entity</label>
            <p-listbox
              [options]="legalEntity"
              [(ngModel)]="selectedScenario"
              [metaKeySelection]="false"
              [checkbox]="true"
              [filter]="true"
              [multiple]="true"
              optionLabel="name"
              [listStyle]="{ 'max-height': '250px' }"
              [style]="{ width: '100%', height: '310px' }"
            >
              <ng-template let-legalEntity pTemplate="item">
                <div class="legalEntity-item">
                  <div>{{ legalEntity.name }}</div>
                </div>
              </ng-template>
            </p-listbox>
          </div>
          <div class="field col-12 md:col-3"></div>
          <div class="field col-12">
            <label for="lastname6">Scenario</label>
            <span class="p-fluid">
              <p-listbox
                [(ngModel)]="selectedScenario"
                [options]="scenario"
                [metaKeySelection]="false"
                [checkbox]="true"
                [filter]="true"
                [multiple]="true"
                optionLabel="name"
                [listStyle]="{ 'max-height': '450px' }"
                [style]="{ width: '100%', height: '510px' }"
                (onChange)="changeScenario($event)"
              >
                <ng-template let-scenario pTemplate="item">
                  <div class="scenario-item">
                    <span
                      [pTooltip]="scenario.name"
                      [escape]="false"
                      tooltipPosition="top"
                      >{{ scenario.name }}</span
                    >
                  </div>
                </ng-template>
              </p-listbox>
            </span>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Aggregation node" [headerStyle]="{ width: '50%' }">
      <ng-template pTemplate="header">
        <h2 class="flex-1 flex align-items-center justify-content-center">
          Aggregation node
        </h2>
      </ng-template>

      <div id="contenedorHeader">
        <div class="formgrid grid">
          <div class="field grid col-12">
            <div class="col-5">
              <div class="field grid col-12">
                <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
                  >Entity</label
                >
                <div class="col-8 md:col-8">
                  <span class="p-fluid">
                    <p-autoComplete
                      [showEmptyMessage]="true"
                      [suggestions]="forms"
                      field="name"
                      [minLength]="1"
                      [dropdown]="true"
                    ></p-autoComplete>
                  </span>
                </div>
              </div>

              <div class="field grid col-12">
                <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
                  >Role:
                </label>
                <div class="col-8 md:col-8">
                  <span class="p-fluid">
                    <p-autoComplete
                      [showEmptyMessage]="true"
                      [suggestions]="forms"
                      field="name"
                      [minLength]="1"
                      [dropdown]="true"
                    ></p-autoComplete>
                  </span>
                </div>
              </div>
              <!-- *********tabla agregation********* -->
              <div class="field grid col-12">
                <div class="col-12 md:col-12">
                  <p-listbox
                    [(ngModel)]="selectAgregationNode"
                    [options]="network"
                    [metaKeySelection]="false"
                    [checkbox]="true"
                    [filter]="true"
                    [multiple]="true"
                    optionLabel="name"
                    [listStyle]="{ 'max-height': '1000px' }"
                    [style]="{ width: '100%', height: '1000px' }"
                    (onChange)="changeNodeAgregation($event)"
                  >
                    <ng-template let-network pTemplate="item">
                      <div class="network-item">
                        <div>{{ network.name }}</div>
                      </div>
                    </ng-template>
                  </p-listbox>
                </div>
              </div>
            </div>
            <div class="col-7">
              <div class="field grid">
                <div class="m-2">
                  <button pRipple class="btn btn-sm btn-primary">Search</button>
                </div>
                <!-- createNode -->
                <div class="m-2">
                  <button
                    pRipple
                    class="btn btn-sm btn-primary"
                    (click)="createNode()"
                  >
                    Create node
                  </button>
                </div>
                <div class="m-2">
                  <button pRipple class="btn btn-sm btn-primary">
                    Load node
                  </button>
                </div>
                <div class="m-2">
                  <button pRipple class="btn btn-sm btn-primary">
                    Clone node
                  </button>
                </div>
                <div class="m-2">
                  <button
                    pRipple
                    class="btn btn-sm btn-primary"
                    (click)="onClickClear()"
                  >
                    Clear node
                  </button>
                </div>
                <div class="m-2">
                  <button pRipple class="btn btn-sm btn-danger">Delete</button>
                </div>
                <div class="m-2">
                  <button pRipple class="colorButton btn btn-sm">
                    Simulate
                  </button>
                </div>
                <div class="m-2">
                  <button pRipple class="colorButton btn btn-sm">
                    Sim bottom up
                  </button>
                </div>
                <div class="m-2">
                  <button pRipple class="colorButton btn btn-sm">
                    Save/approve
                  </button>
                </div>
                <!-- *************agregation Table******** -->
                <div class="m-2">
                  <button
                    pRipple
                    class="btn btn-sm btn-primary"
                    (click)="showCorrelation('agregation')"
                  >
                    Correlation matrix
                  </button>
                </div>
              </div>

              <div class="field grid">
                <div id="orgChart" class="styleChart">
                  <p-organizationChart
                    [value]="data2"
                    selectionMode="single"
                    [(selection)]="selectedNode"
                    (onNodeSelect)="onNodeSelect($event)"
                  >
                    <ng-template let-node pTemplate="person">
                      <div class="node-header p-corner-top">
                        {{ node.label }}
                      </div>
                      <div class="node-content">
                        <div>{{ node.data.name }}</div>
                      </div>
                    </ng-template>
                  </p-organizationChart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1>Eval. sim. Vol.</h1>

        <div class="grid">
          <div class="field grid col-12">
            <div class="col-1 m-2">
              <button pRipple class="btn btn-sm btn-primary">
                Eval. sim. Vol.
              </button>
            </div>
            <div class="m-2">
              <button pRipple class="colorButton btn btn-sm btn-primary">
                Simulations
              </button>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <div id="contenedorHeader">
    <div class="field col-12">
      <div class="flex flex-row-reverse flex-wrap">
        <div class="m-3">
          <button
            pRipple
            class="btn btn-sm btn-primary"
            (click)="showCorrelation('filter')"
          >
            Correlation matrix
          </button>
        </div>
      </div>
    </div>
    <div class="field grid col-12">
      <div class="col-5">
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >Replications:</label
          >
          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <p-inputNumber inputId="integeronly" [(ngModel)]="value" disabled>
              </p-inputNumber>
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >Copula correlation:</label
          >
          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <!-- <p-autoComplete
                [showEmptyMessage]="true"
                [suggestions]="forms"
                field="name"
                [minLength]="1"
                [dropdown]="true"
              ></p-autoComplete> -->

              <p-multiSelect
                selectionLimit="1"
                [options]="copula"
                [(ngModel)]="selectedCopula"
                defaultLabel="Select a mode"
                class="multiselect-custom"
              >
                <ng-template let-value pTemplate="selectedItems">
                  <div
                    class="country-item country-item-value"
                    *ngFor="let option of selectedCopula"
                  >
                    <div>{{ option }}</div>
                  </div>
                  <div
                    *ngIf="!selectedCopula || selectedCopula.length === 0"
                    class="country-placeholder"
                  >
                    Select Copula:
                  </div>
                </ng-template>
                <ng-template let-copulas pTemplate="item">
                  <div class="country-item">
                    <div>{{ copulas }}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <div class="col-4 mb-2 md:col-4 md:mb-0">
            <label for="firstname4">Random seed:</label>
            <p-checkbox
              binary="true"
              inputId="binary"
              class="ml-2"
              [(ngModel)]="selectedRandomBoolean"
              (onChange)="onChangeRandomBoolean($event)"
            ></p-checkbox>
          </div>

          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <p-inputNumber
                mode="decimal"
                [showButtons]="true"
                [useGrouping]="false"
                [step]="1"
                [(ngModel)]="selectedRandomNum"
              >
              </p-inputNumber>
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >Correlation:</label
          >
          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <p-inputNumber
                mode="decimal"
                [showButtons]="true"
                [minFractionDigits]="2"
                [step]="0.25"
                [(ngModel)]="correlation"
                (onInput)="changeCorrelation($event)"
              >
              </p-inputNumber>
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >Target currency:</label
          >
          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <!-- <p-autoComplete
                [(ngModel)]="selectedCurrency"
                [suggestions]="filteredCountries"
                (completeMethod)="filterCountry($event)"
                (onChange)="changeCurrency($event)"
                field="name"
                [dropdown]="true"
              >
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-autoComplete> -->

              <p-multiSelect
                selectionLimit="1"
                [options]="currency"
                [(ngModel)]="selectedCurrency"
                optionValue="name"
                optionLabel="name"
                defaultLabel="Select a Country"
                class="multiselect-custom"
              >
                <ng-template let-value pTemplate="selectedItems">
                  <div
                    class="country-item country-item-value"
                    *ngFor="let option of selectedCurrency"
                  >
                    <div>{{ option }}</div>
                  </div>
                  <div
                    *ngIf="!selectedCurrency || selectedCurrency.length === 0"
                    class="country-placeholder"
                  >
                    Select Currency:
                  </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                  <div class="country-item">
                    <div>{{ country.name }}</div>
                  </div>
                </ng-template>
              </p-multiSelect>
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >Aggregation node</label
          >
          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <input
                id="disabled-input"
                type="text"
                pInputText
                disabled
                [(ngModel)]="aggregationName"
              />
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >name (N):</label
          >
          <div class="col-8 md:col-8">
            <span class="p-fluid">
              <input type="text" pInputText />
            </span>
          </div>
        </div>
        <div class="field grid col-12">
          <label for="firstname4" class="col-4 mb-2 md:col-4 md:mb-0"
            >Sensitivity analysis:</label
          >
          <div class="col-8 md:col-8">
            <p-checkbox binary="true"></p-checkbox>
          </div>
        </div>
        <div class="field col-12">
          <div class="flex flex-row-reverse flex-wrap">
            <div class="m-3">
              <button
                pRipple
                class="btn btn-sm colorButton"
                (click)="onClickSimulate()"
              >
                Simulate
              </button>
            </div>
            <div class="m-3">
              <button pRipple class="btn btn-sm colorButton">
                Save/approve
              </button>
            </div>
            <div class="m-3">
              <button pRipple class="btn btn-sm btn-primary">Load node</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7">
        <div class="card">
          <ng-container *ngIf="showIndex === 0; else elseTemplate">
            <p-table
              dataKey="name"
              [value]="selectedScenario"
              [customSort]="true"
              styleClass="p-datatable-gridlines"
            >
              <ng-template pTemplate="header" let-columns let-rowData>
                <tr>
                  <th style="text-align: center">X</th>
                  <th
                    *ngFor="let item of selectedScenario; let i = index"
                    style="text-align: center"
                  >
                    {{ i + 1 }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowIndex="rowIndex">
                <tr>
                  <td style="text-align: center" id="title" class="p-text-bold">
                    {{ rowIndex + 1 }}
                  </td>
                  <td
                    *ngFor="let item of selectedScenario; let i = index"
                    style="text-align: center"
                  >
                    {{ matriz[rowIndex][i] }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #elseTemplate>
            <p-table
              dataKey="name"
              [value]="selectAgregationNode"
              [customSort]="true"
              styleClass="p-datatable-gridlines"
            >
              <ng-template pTemplate="header" let-columns let-rowData>
                <tr>
                  <th style="text-align: center">X</th>
                  <th
                    *ngFor="let item of selectAgregationNode; let i = index"
                    style="text-align: center"
                  >
                    {{ i + 1 }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowIndex="rowIndex">
                <tr>
                  <td style="text-align: center" id="title" class="p-text-bold">
                    {{ rowIndex + 1 }}
                  </td>
                  <td
                    *ngFor="let item of selectAgregationNode; let i = index"
                    style="text-align: center"
                  >
                    {{ matrizNode[rowIndex][i] }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- commeent ssssssssss-->
<!-- <div class="contenedorDialogo">
  <p-dialog [style]="{ width: '800px' }" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="header">
      <p-dialog-titlebar> Create </p-dialog-titlebar>
    </ng-template>

    <ng-template pTemplate="content">
      <div class="p-d-flex p-jc-center">
        <div style="height: 50px">
          <h6>{{ entitys }}</h6>
        </div>
      </div>
      <div>
        <p-messages [(value)]="msgs" [enableService]="true"></p-messages>
      </div>

      <div class="p-d-flex p-flex-column">
        <div class="p-field p-grid">
          <div class="p-col-4 p-d-flex p-ai-center">
            <label
              for="name"
              class="p-col p-jc-center"
              style="width: 50px"
            ></label>
          </div>

          <div class="p-col-8">
            <div>
              <span>
                <input
                  id="tex"
                  type="text"
                  pInputText
                  required
                  autofocus
                  placeholder="Enter a "
                />
              </span>
            </div>

            <div
              class="input-group"
              ng-app="myApp"
              ng-controller="mainController"
            >
              <select
                class="custom-select"
                [style]="{ width: '500px', height: '40px' }"
                [(ngModel)]="createProduct[item.field]"
              >
                <option disabled>NO SELECT</option>
                <option *ngFor="let it of item.values" value="{{ it }}">
                  {{ it }}
                </option>
              </select>


            </div>

            <div class="p-col-8" *ngIf="item.type == 'check'">
              <p-triStateCheckbox
                [(ngModel)]="createProduct[item.field]"
              ></p-triStateCheckbox>
            </div>

            <div *ngIf="item.type == 'date'">
              <span class="ui-float-label">
                <p-calendar
                  [(ngModel)]="createProduct[item.field]"
                  [monthNavigator]="true"
                  [yearNavigator]="true"
                  yearRange="1000:2030"
                  inputId="navigators"
                  [showIcon]="true"
                  inputId="icon"
                  appendTo="body"
                  dateFormat="dd/mm/yy"
                ></p-calendar>
              </span>
            </div>
            <div *ngIf="item.type == 'textArea'">
              <textarea
                id="description"
                pInputTextarea
                [(ngModel)]="createProduct[item.field]"
                required
                rows="2"
                cols="40"
              ></textarea>
            </div>
            <div *ngIf="item.type == 'pass'">
              <div class="p-field p-grid">
                <div class="p-col-10">
                  <ng-container *ngIf="shows; else elseTemplate">
                    <input
                      id="{{ item.label }}"
                      type="text"
                      pInputText
                      autofocus
                      placeholder="Enter a {{ item.label }}"
                      [(ngModel)]="createProduct[item.field]"
                    />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <p-password
                      [(ngModel)]="createProduct[item.field]"
                      [feedback]="false"
                      [toggleMask]="false"
                      placeholder="Enter a {{ item.label }}"
                      (change)="eyes($event)"
                    ></p-password>
                  </ng-template>
                </div>
                <div class="p-col-2 p-d-flex p-ai-center">
                
                  <i
                    (click)="password()"
                    class="{{ shows ? 'pi pi-eye' : 'pi pi-eye-slash' }}"
                  ></i>
                </div>
              </div>

            
            </div>
            <div *ngIf="item.type == 'file'">
              <input
                type="file"
                name="files"
                (change)="onFileChange($event)"
                class="upload-box"
              />
        
            </div>
            <div *ngIf="item.type == 'multiSelect'">

              <select
                multiple
                class="form-control"
                id="exampleFormControlSelect1"
                [(ngModel)]="createProduct[item.field]"
              >
                <option *ngFor="let it of item.values"></option>
            
              </select>

            </div>
            <div *ngIf="item.type == 'number'">
              <div>
                <p-inputNumber
                  [(ngModel)]="createProduct[item.field]"
                  mode="decimal"
                  [showButtons]="true"
                  inputId="minmax-buttonsdw"
                >
                </p-inputNumber>
              </div>
            </div>
            <div *ngIf="item.type == 'double'">
              <div>
                <p-inputNumber
                  [(ngModel)]="createProduct[item.field]"
                  mode="decimal"
                  [showButtons]="true"
                  inputId="minmax-buttonsd"
                  [minFractionDigits]="2"
                  [step]="0.1"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>

          <small class="p-error" *ngIf="submitted && !createProduct"
            >Name is required.</small
          >
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="p-button-text"
        (click)="save()"
      ></button>
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
    </ng-template>
  </p-dialog>
</div> -->

<p-dialog
  [(visible)]="createDialog"
  [style]="{ width: '70%' }"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="header">
    <p-dialog-titlebar> Simulations </p-dialog-titlebar>
  </ng-template>

  <ng-template pTemplate="content">
    <p-table
      [value]="simulations"
      [paginator]="true"
      [rows]="10"
      [responsive]="true"
      [resizableColumns]="true"
      columnResizeMode="expand"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width: 30%">Name</th>
          <th pSortableColumn="status" style="width: 10%">Status</th>
          <th pSortableColumn="failed" style="width: 10%">Failed</th>
          <th pSortableColumn="progress" style="width: 10%">Progress</th>
          <th pSortableColumn="dateTime" style="width: 20%">Date time</th>
          <th pSortableColumn="actions" style="width: 20%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-simulations>
        <tr>
          <td>{{ simulations.description }}</td>
          <td>{{ simulations.persistence }}</td>
          <td>{{ simulations.failed }}</td>
          <td>{{ simulations.progress | percent: "2.0" }}</td>
          <td>{{ simulations.createdAt | date: "dd/MM/yyyy" }}</td>
          <td>
            <div class="p-d-flex">
              <div class="p-mr-5">
                <button type="button" class="btn btn-sm btn-info">Load</button>
              </div>
              <div class="p-mr-5">
                <button type="button" class="btn btn-sm btn-danger">
                  Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-dialog>
<p-dialog
  [(visible)]="dialogCorrelation"
  [style]="{ width: '70%' }"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="header">
    <p-dialog-titlebar> Correlation </p-dialog-titlebar>
  </ng-template>

  <ng-template pTemplate="content">
    <p-table
      dataKey="name"
      [value]="matriz"
      [customSort]="true"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header" let-columns let-rowData>
        <tr>
          <th style="text-align: center">X</th>
          <th
            *ngFor="let item of matriz; let i = index"
            style="text-align: center"
          >
            {{ i + 1 }}
          </th>
        </tr>
      </ng-template>

      <ng-template
        pTemplate="body"
        let-rowIndex="rowIndex"
        let-newCorrelationItem
        let-editing="editing"
        let-rowData
      >
        <tr>
          <td style="text-align: center" id="title" class="p-text-bold">
            {{ rowIndex + 1 }}
          </td>
          <td
            *ngFor="let item of matriz; let i = index"
            pEditableColumn
            style="text-align: center"
            [pEditableColumn]="rowData"
          >
            <ng-container *ngIf="rowIndex == i; else elseTemplate">
              {{ rowData[i] }}
            </ng-container>
            <ng-template #elseTemplate>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input
                    pInputText
                    type="text"
                    [(ngModel)]="rowData[i]"
                    (change)="changeCell($event, rowIndex, i, matriz)"
                  />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ rowData[i] }}
                  <!--  {{ matriz[rowIndex][i] }} -->
                </ng-template>
              </p-cellEditor>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>

  <ng-template pTemplate="footer" let-rowData="item" let-rowIndex="rowIndex">
    <button
      pButton
      pRipple
      label="Load correlation"
      icon="pi pi-check"
      class="p-button-text"
    ></button>

    <button
      pButton
      pRipple
      label="PSD(push)"
      icon="pi pi-times"
      class="p-button-text"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-times"
      class="p-button-text"
      (click)="saveCorrelation()"
    ></button>
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="cancelCorrelation()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
